<div ng-init="svr.title = vm.title + '| 導入'  ;vm.prevPage ='/admin'"
     ng-include="'src/ot/view/part/header.html'"></div>


<div layout="column">

    <div layout="row" layout-align="center ">

        <div style="width: 40%">
        <span ng-init="headers = ['編號','商戶','地址']" style="margin-left: 30px">
            <span ng-repeat="h in headers  track by $index">   {{h}} | </span>
        </span>

            <md-button class="md-raised  md-hue-1" ng-click="rawText = ''">清除</md-button>
            <md-button class="md-raised  md-primary md-hue-3" ng-click="vm.onSaveImport(res)">保存</md-button>

            <md-input-container >
                Use Comma
                <md-checkbox ng-model="vm.isUseComma"</md-checkbox>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Excel Cut & Paste</label>
                <textarea ng-model="rawText"
                          rows="10"
                          ng-change="res = vm.onParse(rawText)"
                          md-maxlength="99000"  md-select-on-focus></textarea>
            </md-input-container>

        </div>
        <div style="width: 55%" >

            <md-table-container>


                <h3 > {{res.msg}} </h3>
                <i class="fa fa-clipboard" ng-click="vm.onCopyDataToClipboard(res) "></i>

                <table md-table style="text-align: center">
                    <thead md-head>
                    <tr md-row>
                        <th md-column># : {{res.parsed.length}}</th>
                        <th md-column>Sym</th>
                        <th md-column>C</th>
                        <th md-column>Premium</th>
                        <th md-column>DateBought</th>
                        <th md-column>DateExp</th>

                    </tr>
                    </thead>
                    <tbody md-body class="md-inline-form" style="cursor: pointer">

                    <tr md-row ng-repeat="option in (res.parsed) track by $index">


                        <td md-cell>{{option.Name }}</td>
                        <td md-cell>{{option.StockTicker }}</td>
                        <td md-cell>{{option.NumContract }}</td>
                        <td md-cell>{{option.Premium }}</td>
                        <td md-cell>{{option.DateBought }}</td>
                        <td md-cell>{{option.DateExp }}</td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>


        </div>


    </div>

</div>