<table md-table ng-init="stocks = svr.mgr.stocks.getAll();">
    <thead md-head>
    <tr md-row>

        <th md-column style="width: 10px">


            <i style="cursor: pointer" class="fa fa-clipboard" ng-click="vm.onCopyDataToClipboard(stocks) "></i>
        </th>

        <th md-column style="width: 20px; ">
            #c
        </th>

        <th md-column ng-click="vm.refreshStockPrice()" style="cursor: pointer; width: 100px">

            名稱 # {{stocks.length}}

            <i style="color: lightskyblue" class="fa  fa-refresh"></i>
        </th>


        <!--            <th md-column style="cursor: pointer; width: 80px">-->
        <!--                Price-->


        <th md-column style="width: 80px">
            Cash In
            <br/>
            <small>
            {{ (vm.stats.amtCashIn/10000).toFixed(2)}}w |
            {{ (vm.stats.cost_exposure_ratio.toFixed(2))}}%
            </small>



        </th>


        <th md-column style="width: 80px">
            <small> Exposure </small>
            <br/>
            {{(vm.stats.exposure_c/10000).toFixed(2)}}w
            <br/>
            {{(vm.stats.exposure_p/10000).toFixed(2)}}w

        </th>

        <th md-column style="width: 10px; padding-right: 3px" class="box-none"
            ng-click="vm.filter.month = m"
            ng-repeat="m in svr.getMonthOptions()">
                <span style="word-break: break-word">
                {{m}} <br/>
                月
                </span>
        </th>


    </tr>
    </thead>
    <tbody md-body class="md-inline-form" ng-if="vm.isShowStocks">

    <tr md-row ng-repeat="e in stocks " ng-init="stats = e._stats">
        <td md-cell>

            <md-input-container class="box-none">
                <md-checkbox ng-model="e._isShow"></md-checkbox>
            </md-input-container>


            <small>{{ e.Symbol}} </small>

        </td>


        <td md-cell>
            {{stats.numCall}}
            <br/>

            <span>
                {{stats.numPut}}
                </span>

        </td>

        <td md-cell>
                <span ng-click="vm.updateStockPriceHistory(e)" style="cursor: pointer">
                    <i class="fa fa-dollar" ng-if="!e.isHK()"> </i>
                    {{ e.Name}}

                    <br/>

                        <md-input-container class="box-none" style="width: 70px">
                            <input type="number" ng-model="e.Price">
                        </md-input-container>

                </span>
        </td>

        <td md-cell>

             {{stats.amtCashIn.toFixed(2)}}
            <br/>

            <span ng-if="stats.amtLost <=0" style="color: lightgrey">
                     --
                </span>

            <span ng-if="stats.amtLost>0" style="background: lightpink">
                <small>
                     -{{stats.amtLost.toFixed(2)}}
                      ({{(stats.amtLost / stats.amtCashIn * 100).toFixed(2) }}%)
                </small>
            </span>

        </td>

        <td md-cell>

                <span ng-if="!stats.exposure_c" style="color: lightgrey">
                     --
                </span>

            <span ng-if="stats.exposure_c">
                {{(stats.exposure_c/10000).toFixed(2)}}w
                </span>

            <br/>

            <span ng-if="!stats.exposure_p" style="color: lightgrey">
                     --
                </span>

            <span ng-if="stats.exposure_p">
                {{(stats.exposure_p/10000).toFixed(2)}}w
                </span>

        </td>


        <td md-cell style="width: 10px; padding-right: 15px" ng-repeat="m in svr.getMonthOptions()">
            {{ e.getContractNum(m, true)}}
            <br/>
            {{ e.getContractNum(m, false)}}
        </td>

    </tr>


    </tbody>


</table>
