<md-table-container>

    <table md-table ng-init="stocks = svr.mgr.stocks.getAll();">
        <thead md-head>
        <tr md-row>


            <th md-column ng-click="vm.isShowStocks = !vm.isShowStocks" style="width: 80px">

                名稱 # {{stocks.length}}
            </th>


            <th md-column ng-click="vm.refreshStockPrice()" style="cursor: pointer; width: 80px" >
                Price

                <i style="color: lightskyblue" class="fa fa-2x fa-refresh" ></i>


            </th>

<!--            <th md-column>-->
<!--                Change-->
<!--            </th>-->

            <th md-column style="width: 80px">
                Exposure
            </th>
            <th md-column style="width: 80px">
                #
            </th>

            <th md-column>
                Cash In

                <i style="cursor: pointer" class="fa fa-clipboard" ng-click="vm.onCopyDataToClipboard(stocks) "></i>

                <span style="background: lightgoldenrodyellow; color: lightcoral; font-size: large"> . ROI/ IRR ! .</span>
            </th>


        </tr>
        </thead>
        <tbody md-body class="md-inline-form" ng-if="vm.isShowStocks">

        <tr md-row ng-repeat="e in stocks ">

            <td md-cell >
                <i class="fa fa-dollar" ng-if="!e.isHK()"> </i>
                {{ e.Name}}
                <br/>
                <small>{{ e.Symbol}} </small>
            </td>
            <td md-cell>
                <md-input-container class="box-none">
                    <input type="number" step="any"
                           ng-model="e.Price"
                    >
                </md-input-container>

                <br/>
            </td>
<!--            <td md-cell ng-style="{background: e.getChange() >= 0 ? '' : 'lightpink' }">-->
<!--                <span ng-show=" e.getChange() != 0" >-->
<!--                {{ e.getChange().toFixed(2)}}-->
<!--                <br/>-->
<!--                {{ e.getChangePct().toFixed(2)}}%-->
<!--                </span>-->
<!--            </td>-->
            <td md-cell>
                <span ng-if="e._exposure_c">
                {{(e._exposure_c/10000).toFixed(2)}}w
                </span>
                <br/>
                <span ng-if="e._exposure_p">
                {{(e._exposure_p/10000).toFixed(2)}}w
                </span>

            </td>

            <td md-cell>
                {{e._num_call}}
                <br/>

                <span >
                {{e._num_put}}
                </span>

            </td>
            <td md-cell>
                {{e._cash_in_amt}}
                <br/>

                <span ng-if="e._cash_lost_amt>0" style="background: lightpink">
                -{{e._cash_lost_amt.toFixed(2)}}
                </span>

            </td>

        </tr>


        </tbody>


    </table>
</md-table-container>


