<div ng-init="svr.title = vm.title  ;vm.prevPage = '/admin'"
     ng-include="'src/ot/view/part/header.html'"></div>

<!--<div       ng-include="'src/ot/view/option/sub-header.html'"></div>-->

<md-table-container>

    <table md-table md-virtual-repeat-container style="height: 800px">
        <thead md-head>
        <tr md-row>

            <th md-column xstyle="width: 70px; ">
                <!--                <md-input-container class="box-none" style="background: lightpink">-->
                <!--                    <label class="fa fa-search"></label>-->
                <!--                    <input ng-model="vm.filter" type="text"-->
                <!--                           id="search"-->
                <!--                           ng-model-options="{ allowInvalid: true, debounce: 500 }">-->
                <!--                </md-input-container>-->

            </th>

            <th md-column xstyle="width: 10px;">Name</th>

            <th md-column xstyle="width: 10px;">PC</th>
            <th md-column xstyle="width: 10px;">#</th>
            <th md-column xstyle="width: 10px;">$</th>

            <th md-column>落盤時間</th>
            <th md-column>Exp 時間</th>

            <th md-column></th>
        </tr>
        </thead>
        <tbody md-body class="md-inline-form">

        <tr md-row md-virtual-repeat="e in svr.mgr.options.getAll() ">

            <td md-cell></td>
            <td md-cell> {{e.StockTicker}} | {{ e.Name}}</td>
            <td md-cell> {{ e.P_C}}</td>
            <td md-cell> {{ e.NumContract}}</td>
            <td md-cell> {{ e.Premium}}</td>


            <td md-cell> {{ e.DateBought}}</td>
            <td md-cell> {{ e.DateExp}}</td>


            <td md-cell> {{ e.NumShareExposed}}</td>


            <td md-cell>

                <button ng-show="e._dirty "
                        class="md-raised md-warn md-button" type="button"
                        ng-click="svr.doUpdateOutlet(e)">
                    保存
                </button>

            </td>

        </tr>


        </tbody>


    </table>
</md-table-container>
<!--                    </md-virtual-repeat-container>-->


