<md-table-container x="{{e = vm.mock}}">

    <table md-table>
        <thead md-head>
        <tr md-row style="background: lightgrey">


            <th md-column style="width: 30px">#C</th>
            <th md-column style="width: 20px">#C</th>
            <th md-column style="width: 100px">名稱</th>


            <th md-column style="width: 80px">Strike</th>
            <th md-column style="width: 20px">P_C</th>
            <th md-column style="width: 80px">Premium</th>

            <th md-column>Date Exp</th>

            <th md-column></th>

        </tr>
        </thead>
        <tbody md-body class="md-inline-form">

        <tr ng-style="{background: e.getColor()}">


            <td md-cell>

                <i class="fa fa-remove fa-2x" ng-click="vm.mock = null"
                   style="cursor: pointer; color: lightcoral; margin-right: 30px" ></i>


            </td>


            <td md-cell>


                <md-input-container class="box-none" style="width: 50px">

                    <input ng-model="e.NumContract" type="number"/>
                </md-input-container>
            </td>


            <td md-cell>
                {{e.StockTicker}}

                {{ e.Name}}
                {{e.Strike}}
                {{e.P_C}}

            </td>


            <td md-cell>
                <md-input-container class="box-none " style="width: 50px">
                    <input ng-model="e.Strike" type="number"/>
                </md-input-container>
            </td>

            <td md-cell>
                <md-input-container class="box-none " style="margin-left: 10px">

                    <md-select ng-model="e.P_C">
                        <md-option ng-value="k" ng-repeat="k in ['C','P']">{{ k }}</md-option>
                    </md-select>

                </md-input-container>
            </td>


            <td md-cell>

                <md-input-container class="box-none" style="width: 50px">
                    <input ng-model="e.Premium" type="number"/>
                </md-input-container>

            </td>


            <td md-cell>


                <md-input-container class="box-none" style="width: 120px" >
                    <input ng-change="e.init()" ng-model="e.DateExp" type="text"/>
                </md-input-container>

            </td>
            <td md-cell></td>
        </tr>


        </tbody>


    </table>
</md-table-container>

