<div ng-init="svr.title = vm.title  ;vm.prevPage = '/option'"

     ng-include="'src/ot/view/part/header.html'"></div>

<div        ng-include="'src/ot/view/admin/sub-header.html'"></div>

<md-toolbar class=" md-primary md-hue-1" ng-init="user = svr.getCurrUser()">


    <div class="md-toolbar-tools" ng-init="numTotalDirty = 0">

        <i class="fa fa-user-o "> {{user.Name}} </i>, {{user.Name_E}} |
        <small> {{user.getRoleName()}}</small>

        <span flex md-truncate></span>
        <span>
                <md-button style="min-width: 0" class="md-raised md-primary md-hue-3" ng-click="svr.doLogout()">
                    登出 <i class="fa  fa-sign-out">  </i>
                </md-button>

        </span>


    </div>


</md-toolbar>


<div layout="column">


    <md-list style="text-align: center; font-size: xx-large; margin-top: 5%; margin-left: 5%">

        <md-list-item>
            <button class="md-button md-raised md-primary" ng-click="svr.onTestOk()">test OK</button>

            <button class="md-button md-raised md-primary" ng-click="svr.onTest1Fail()">test Fails</button>

            <button class="md-button md-raised md-primary" ng-click="svr.onTest12Fail()">test Fails12</button>
        </md-list-item>
    </md-list>


</div>

