/* RESET */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, abbr, article, aside, command, details, figcaption, figure, footer, header, hgroup, mark, meter, nav, output, progress, section, summary, time {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, th, figcaption {
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
}

fieldset, iframe {
    border: none;
}

caption, th {
    text-align: left;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article, aside, footer, header, hgroup, nav, section, figure, figcaption {
    display: block;
}

html {
    -webkit-text-size-adjust: none;
}

body {
    font-size: 12pt;
    /*font-family: Helvetica, Arial, sans-serif;*/
    font-weight: normal;
    /*line-height: 1.167em;*/
    /*text-shadow: 1px 1px #CCCCCC;*/
    color: #111111;
}

div {
    outline: none;
}

a {
    text-decoration: none;
    color: #0056DF;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 1.7em;
    /*line-height: 1.75em;*/
}

h2 {
    font-size: 1.6em;
    /*line-height: 1.7em;*/
}

h3 {
    font-size: 1.4em;
    /*line-height: 1.5em;*/
}

h4 {
    font-size: 1.2em;
    /*line-height: 1.3em;*/
}

h5 {
    font-size: 1.1em;
    /*line-height: 1.2em;*/
}

h6 {
    font-size: 1em;
    /*line-height: 1.1em;*/
}

img {
    border: 0;
}

table {
    font-size: 1em;
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    border: 0;
    border-bottom: 1px solid #DDDDDD;
    line-height: 0px;
    height: 0px;
    background-color: #DDDDDD;
    margin: 10px 0;
    padding: 0;
}

form {
}

fieldset {
    margin: 15px 0 15px 0;
    padding: 10px 10px 20px 10px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
}

fieldset legend {
    margin-left: 15px;
    padding: 6px 8px;
    /*font-weight: bold;*/
    color: #4D90FE;
    text-transform: uppercase;
    letter-spacing: 1px;
}

label, input, textarea, select, form span {
    /*font-family: "Lucida Grande", Helvetica, Arial, sans-serif;*/
    font-size: 1em;
    /*line-height: 1.167em;*/
    line-height: 1.167em;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input, select {
    font-size: 1em;
    line-height: 1em;

}

input, textarea {
    font-size: 1.5em;
    line-height: 1.7em;

    padding: 0.1em 0.2em;
    background: #FFFFFF;
    vertical-align: middle;

    border: 1px solid #ccc /*{c-bup-border}*/;
    background: #eee /*{c-bup-background-color}*/;
    /*font-weight: bold;*/
    text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #fff /*{c-bup-shadow-color}*/;
    background-image: -webkit-linear-gradient(#fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image: -moz-linear-gradient(#fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* FF3.6 */
    background-image: -ms-linear-gradient(#fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* IE10 */
    background-image: -o-linear-gradient(#fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Opera 11.10+ */
    background-image: linear-gradient(#fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}

input[type="checkbox"], input[type="radio"] {
    font-size: 1.3em;
    -webkit-transform: scale(1.7);
}

::-webkit-input-placeholder {
    color: #999;
}

:-moz-placeholder,
::-moz-placeholder {
    color: #999;
}

:-ms-input-placeholder {
    color: #999;
}

/* BASIC */
.w300 {
    width: 300px;
}

.w250 {
    width: 250px;
}

.w200 {
    width: 200px;
}

.w150 {
    width: 150px;
}

.w120 {
    width: 120px;
}

.w100 {
    width: 100px;
}

.w80 {
    width: 80px;
}

.w60 {
    width: 60px;
}

.w40 {
    width: 40px;
}

.h300 {
    height: 300px;
}

.h250 {
    height: 250px;
}

.h200 {
    height: 200px;
}

.h150 {
    height: 150px;
}

.h120 {
    height: 120px;
}

.h100 {
    height: 100px;
}

.h80 {
    height: 80px;
}

.h60 {
    height: 60px;
}

.h40 {
    height: 40px;
}

.w100p {
    width: 100%;
}

.w50p {
    width: 50%;
}

.floatl {
    float: left;
}

.floatr {
    float: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.top {
    vertical-align: top;
}

.middle {
    vertical-align: middle;
}

.bottom {
    vertical-align: bottom;
}

.cls {
    clear: both;
}

.shadow {
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

.hide {
    display: none;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.yellow {
    color: yellow;
}

.gray {
    color: gray;
}

/* MOBILE */
.error {
    background-color: #FFAFAF;
    background-color: #FF3333;
}

.error .question-title, .error .sub-question-title {
    /*color: yellow;*/
}

.valid {

}

#source-code {
    background: #EEEEEE;
    font-size: small;
    font-family: Lucida, monospace;
}

/* SURVEY */
#survey-page {
    visibility: hidden;
}

#header {
    background-color: #F88C00;
    box-shadow: 0 0 0.1em #001F0E;
}

#page-title {
    color: #FFFFFF;
    /*text-shadow: 2px 2px #001F0E;*/
    text-align: center;
    padding: 0;
    font-size: 1.6em;
    /*line-height: 1.7em;*/
    /*font-weight: bold;*/
}

#questions {
}

#questions .question {
}

#questions .question .textbox {
    display: block;
    width: 100%;
}

#questions .question .question-title {
    /*font-weight: bold;*/
    font-size: 1.6em;
    /*line-height: 1.4em;*/
    padding: 0.5em 4px 0 4px;
}

#questions .question .question-body {
    padding: 2px 3px;
    font-size: 1em;
    /*line-height: 1em;*/
}

#questions .question .question-body * {
    /*line-height: 1.1em;*/
}

#questions .question .no-padding {
    padding: 0;
}

#questions .question .choice-items {
    padding-top: 2px;
    padding-left: 3px;
}

#questions .question .choice-item {
    float: left;
    display: inline-block;
}

#questions .question .choice-item label {
    display: block;
    font-size: 1.2em;
    /*line-height: 2.5em;*/
    /*line-height: 2.0em;*/
    /*padding: 0em 0.2em 0em 0.3em;*/
    padding: 0.25em 0.2em 0.25em 0.3em;

    margin: 0 2px 2px 0;
    vertical-align: middle;

    border: 1px solid #ccc /*{c-bup-border}*/;
    background: #eee /*{c-bup-background-color}*/;
    /*font-weight: bold;*/
    color: #222 /*{c-bup-color}*/;
    text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #fff /*{c-bup-shadow-color}*/;
    background-image: -webkit-linear-gradient(#fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image: -moz-linear-gradient(#fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* FF3.6 */
    background-image: -ms-linear-gradient(#fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* IE10 */
    background-image: -o-linear-gradient(#fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Opera 11.10+ */
    background-image: linear-gradient(#fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}

#questions .question .choice-item label.disabled {
    color: #CCCCCC;
    border-color: #EEEEEE;
    background: #F6F6F6;
}

#questions .question .choice-item input {
    margin: 0.1em 0.2em 0.2em 0.2em;
    display: inline-block ;

}

#questions .question .choice-item label span {
    vertical-align: middle ;
    display: inline-block ;
}

#questions .question .max-1-cols .choice-item {
    width: 100%;
}

#questions .question .max-2-cols .choice-item {
    width: 100%;
}

#questions .question .max-3-cols .choice-item {
    width: 100%;
}

#questions .question .dsec-max-2-cols .choice-item {
    width: 50%;
}

#questions .question .max-4-cols .choice-item {
    width: 100%;
}

#questions .question .max-5-cols .choice-item {
    width: 100%;
}

#questions table.matrix {
    margin-top: 10px;
    width: 100%;
}

#questions table.matrix th {
    padding: 1px;
    font-size: 1.3em;
    /*line-height: 1.5em;*/
}

#questions table.matrix tr th:last-child, #questions table.matrix tr td:last-child {
    width: 0;
    line-height: 0;
    font-size: 0px;
    padding: 1px;
}

#questions table.matrix tbody tr:first-child td {
    padding-top: 2px;
}

#questions table.matrix tbody tr:last-child td {
    padding-bottom: 2px;
}

#questions table.matrix th {

}

#questions table.matrix td {
    text-align: center;
}

#questions table.matrix thead th {
    text-align: center;
}

#questions table.matrix thead th {
}

#questions table.matrix tbody th {
    padding-left: 4px;
}

#questions table.matrix tbody td input.textbox {
    display: block;
    width: 100%;
    margin: 0;
}

#questions table.matrix tbody td select {
    min-width: 4em;
}

#questions table.matrix tbody td label {
    display: block;
    font-size: 1.2em;
    /*line-height: 2em;*/
    padding: 0.1em 0.3em 0.2em 0.3em;

    border: 1px solid #ccc /*{c-bup-border}*/;
    background: #eee /*{c-bup-background-color}*/;
    /*font-weight: bold;*/
    color: #222 /*{c-bup-color}*/;
    text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #fff /*{c-bup-shadow-color}*/;
    background-image: -webkit-linear-gradient(#fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image: -moz-linear-gradient(#fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* FF3.6 */
    background-image: -ms-linear-gradient(#fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* IE10 */
    background-image: -o-linear-gradient(#fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Opera 11.10+ */
    background-image: linear-gradient(#fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}

/* Scroll Indicator */

.arrow-wrap {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 1em;
    margin-left: -5em;
    font-size: 0.2em;
    display: block;
}

.arrow {
    float: left;
    position: relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 2em 2em 0 2em;
    border-color: red transparent transparent transparent;
    -webkit-transform: rotate(360deg)
}

@-webkit-keyframes arrows {
    0% {
        top: 0;
    }
    10% {
        top: 12%;
    }
    20% {
        top: 0;
    }
    30% {
        top: 12%;
    }
    40% {
        top: -12%;
    }
    50% {
        top: 12%;
    }
    60% {
        top: 0;
    }
    70% {
        top: 12%;
    }
    80% {
        top: -12%;
    }
    90% {
        top: 12%;
    }
    100% {
        top: 0;
    }
}

.arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    body {
        font-size: 0.5em;
        /*line-height: 0.5em;*/
    }

    input[type="checkbox"], input[type="radio"] {
        -webkit-transform: scale(1.35);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    body {
        font-size: 0.5em;
        /*line-height: 0.5em;*/
    }

    input[type="checkbox"], input[type="radio"] {
        -webkit-transform: scale(1);
    }
}

/*/!* dsec*!/*/

.choice-item label {
    display: block;
    padding-left: 30px !important;
    text-indent: -30px;
}
.choice-item span {
    display: inline !important;
}
.choice-item input  {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    *overflow: hidden;
    display: inline !important;
}
