<md-toolbar id='header' class=" md-primary" style=" position: fixed;top: 0;">

    <div class="md-toolbar-tools "

         ng-init="isInspector = svr.getCurrUser().isInspector()">

        <div ng-show="svr.isNeedUpdate()" class="md-toolbar-tools  "
             ng-click="svr.onUpdateVersion()" style="background-color: orangered ;color: white; padding-bottom: 5px">

            <i class="fa fa-arrow-circle-up"> 新版本</i>
        </div>

        <div ng-show="::svr.isPhoneClientNeedUpdate()" class="md-toolbar-tools"
             ng-click="svr.alert(' 請通過 F-Droid 更新 手機應用程序!')"
             style="background-color: orangered ;color: white; ">
            <i class="fa fa-android"></i>

        </div>


        <i ng-if="!isInspector" ng-click="svr.toggleSideNav()" class="fa fa-bars  "
           style="margin-right: 10px; cursor: pointer"> </i>

        <md-button class="md-fab md-mini  md-asscent" ng-click="svr.goTo(vm.prevPage, vm.pageHash)"
                   ng-show="vm.prevPage">
            <i class="fa fa-arrow-up"></i>
        </md-button>

        <h3 xstyle="min-width: 50%;"  onclick="window.scrollTo(0,0);">
            {{svr.title}}
        </h3>

        <md-input-container class="box-none" style="background: lightgrey; margin-left: 10px">
            <label class="fa fa-search"></label>
            <input ng-model="vm.filter.txt" type="text"
                   ng-model-options="{ allowInvalid: true, debounce: 500 }">
        </md-input-container>

        <md-input-container class="box-none" style="background: lightgrey; margin-left: 10px; width: 20px">

            <input ng-model="vm.filter.dte" type="number"
                   ng-model-options="{ allowInvalid: true, debounce: 500 }">
        </md-input-container>

        <span flex></span>

        <i class="fa fa-flag" ng-click="vm.isShowExpire = !vm.isShowExpire"></i>


        <md-button class="md-fab md-mini  md-primary md-hue-1" ng-if="svr.getCurrUser().isAdmin()" ng-click="svr.goTo('/admin/')" >
            <i class="fa fa-superpowers"></i>
        </md-button>



        <h3 ng-show="svr.networkMgr.isNetworkError()" ng-click="svr.networkMgr.onNetworkOk(); svr.doSyncTasks();"
            style="background: orangered;">
            <i class="fa fa-wifi"></i></h3>

    </div>


</md-toolbar>


<!--<md-nav-bar id="sub-header" ng-if="vm.getSubheaders()">-->
<!--    <md-nav-item ng-repeat="nv = vm.getSubheaders() " md-nav-click="2" ng-click="svr.goTo(nv.value)">-->
<!--        {{nv.name}}-->
<!--    </md-nav-item>-->

<!--</md-nav-bar>-->


<div style="padding-bottom: 56px ; background: dodgerblue"></div>


